<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="section-title">猫グラファ一覧</h2>
      <div class="regist_form df">
        <div>
          <% if @user.profile_image_id? %>
            <img src='<%= @user.profile_image_id %>' class="show-icon" alt="ユーザーアイコン1">
          <% else %>
            <img src="/assets/default.png" class="show-icon" alt="ユーザーアイコン2" %>
          <% end %>
        </div>
        <div>
          <table class="table">
            <tr>
              <td>
                <%= @user.username %>
              </td>
              <% if @user.id == current_user.id %>
              <td>
                <%= @user.email %>
              </td>
              <td>
                  <%= link_to "編集", edit_user_path(@user), class: "btn btn-success" %>
              </td>
              <td>
                  <%= button_to "一覧へ戻る", { :action => "index" }, :method => "get", class: "btn btn-success" %>
              </td>
              <% end %>
            </tr>
          </table>
          <table class="table">
            <tr>
              <td>
                <%= @user.profile %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>