      <% if @cat.errors.any? %>
        <div class="devise-sign-up-error">
          <h2><%= t("errors.template.header", model: Cat.model_name.human, count: @cat.errors.count) %></h2>
          <ul>
            <% @cat.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_for @cat do |f| %>
        <div class="form-group p-2 m-2">
          <%= f.label :catname %>
          <%= f.text_field :catname, class: "form-control" %>
        </div>

        <div class="form-group p-2 m-2">
          <%= f.label :appeal_point %>
          <%= f.text_field :appeal_point, class: "form-control" %>
        </div>

        <div class="form-group p-2 m-2">
          <%= f.label :image_id %>
          <%= f.file_field :image_id, class: "form-control" %>
        </div>

        <div class="form-group p-2 m-2">
          <%= f.button button_text, class: 'btn btn-warning' %>
          <%= link_to "戻る", :back , class: "btn btn-warning"%>
        </div>
      <% end %>