<section class="section">
  <div class="container">
    <h2 class="section-title">にゃんこデータ一覧</h2>
    <div class="card-box">
      <div class="col df pt-5">
        <% @cats.each do |cat| %>
          <div class="col-md-4 p-2">
            <div class="card">
              <div class="card-img">
                <%= link_to cat_path(cat) do %>
                  <img src='<%= cat.image_id %>' class="cat-img" alt="にゃんこ画像">
                <% end %>
              </div>
              <div class="card-body">
                <div class="card-content df-f gap20">
                  <div class="card-image">
                    <% if cat.user.profile_image_id? %>
                      <img src='<%= cat.user.profile_image_id %>' class="user-icon gap20" alt="ユーザー画像">
                    <% else %>
                      <img src="/assets/default.png" class="user-icon gap20" alt="サンプル画像" %>
                    <% end %>
                  </div>
                  <div class="media-content">
                    <div class="title"><%=link_to cat.user.username, user_path(cat.user) %></div>
                  </div>
                </div>
                <div class="panel-block">
                  <%= cat.updated_at.strftime("%Y-%m-%d %H:%M") %>更新
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>