<section class="section">
  <div class="container ">
    <div class="row justify-content-center">
    <h2 class="section-title">にゃんこデータ詳細</h2>
      <div class="df">
        <div class="regist_form">
          <div class="card">
            <%= image_tag @cat.image_id.to_s %>
            <div class="card-body">
              <h4 class="card-title"><%= @cat.catname %></h4>
              <div class="content">
                <table class="table">
                  <tr>
                    <th>アピールポイント</th>
                  </tr>
                  <tr>
                    <td><%= simple_format @cat.appeal_point %></td>
                  </tr>
                </table>
                <div class="button-position">
                  <div class="side-position">
                    <%= link_to "編集", edit_cat_path(@cat), class: "btn btn-success" %>
                    <%= button_to "一覧へ戻る", { :action => "index" }, :method => "get", class: "btn btn-success" %>
                  </div>
                  <div>
                    <%= link_to '削除', cat_path(@cat), method: :delete, data: {confirm: "投稿を削除します。よろしいですか？"},class: 'btn btn-danger' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="regist_form">
          <div class="user-panel">
            <p class="user-panel-heading">
              撮影者 <%= @cat.user.username %>
            </p>
            <div class="user-panel-block">
              <p class="control">
                <%= @cat.user.profile %>
              </p>
            </div>
            <div class="user-panel-block2">
              <%= link_to user_path(@cat.user), class: "user-panel-block" do %>
                <%= @cat.user.username %> さんのページへ
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
