<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Catlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar is-warning">
      <% if user_signed_in? %>
        <div>
          <%= link_to "にゃんこ情報一覧", cats_path %>
          <%= link_to "にゃんこ情報投稿", new_cat_path %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
