<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Catlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="devise-notice">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="devise-error">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container">
        <a class="navbar-brand" href="/cats">Catlog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active m-2 menu-bar-line">
              <%= link_to "にゃんこ情報一覧", cats_path, class: "link-color" %>
            </li>
            <li class="nav-item m-2 menu-bar-line">
              <%= link_to "にゃんこ情報投稿", new_cat_path, class: "link-color" %>
            </li>
            <li class="nav-item m-2 menu-bar-line">
              <%= link_to "猫グラファー一覧", users_path, class: "link-color" %>
            </li>
            <li class="nav-item m-2 menu-bar-line">
              <%= link_to "マイページ", user_path(current_user), class: "link-color" %>
            </li>
            <li class="nav-item dropdown m-2 menu-bar-line">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link-color" %>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active m-2 menu-bar-line">
              <%= link_to "にゃんこ情報一覧", cats_path, class: "link-color" %>
            </li>
            <li class="nav-item m-2 menu-bar-line">
              <%= link_to "にゃんこ情報投稿", new_cat_path, class: "link-color" %>
            </li>
            <li class="nav-item dropdown m-2 menu-bar-line">
              <%= link_to "ログイン", new_user_session_path, class: "link-color" %>
            </li>
            <li class="nav-item dropdown m-2 menu-bar-line">
              <%= link_to "新規登録", new_user_registration_path, class: "link-color" %>
            </li>
          </ul>
        </div>
      <% end %>
    </nav>

    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
